<div class="container">
    <div class="row">
        <div class="col-md-6 mx-auto p-3">
            <mat-card>
                <form #quizform="ngForm" (ngSubmit)="quizUpdate()">
                    <!-- {{quizModel|json}} -->
                    <h2 class="text-center mb-3">Update Quiz</h2>
                    <mat-form-field class="field" appearance="outline">
                        <mat-label>Title</mat-label>
                        <input matInput placeholder="Enter quiz name" required pattern="^[a-zA-Z ]*$" name="title"
                            [(ngModel)]="quizModel.title" #title="ngModel">
                        <div *ngIf="title.invalid && (title.dirty || title.touched)">
                            <mat-hint class="text-danger" *ngIf="title.errors?.['required']">name is required</mat-hint>
                            <mat-hint class="text-danger" *ngIf="title.errors?.['pattern']">category can't be a number
                            </mat-hint>
                        </div>
                    </mat-form-field>

                    <div class="form-row">
                        <div class="col-md-6">
                            <mat-form-field class="field" appearance="outline">
                                <mat-label>No. of Quesitons</mat-label>
                                <input matInput placeholder="Number of questions" required pattern="^-?(0|[1-9]\d*)?$"
                                    name="question" [(ngModel)]="quizModel.numOfQuestion" #question="ngModel">
                                <div *ngIf="question.invalid && (question.dirty || question.touched)">
                                    <mat-hint class="text-danger" *ngIf="question.errors?.['required']">no of question
                                        is required</mat-hint>
                                    <mat-hint class="text-danger" *ngIf="question.errors?.['pattern']">enter a valid
                                        number of question</mat-hint>
                                </div>
                            </mat-form-field>
                        </div>
                        <div class="col-md-6">
                            <mat-form-field class="field" appearance="outline">
                                <mat-label>MaxMarks</mat-label>
                                <input matInput placeholder="Enter maximum marks" required pattern="^-?(0|[1-9]\d*)?$"
                                    name="maxMarks" [(ngModel)]="quizModel.maxMarks" #marks="ngModel">
                                <div *ngIf="marks.invalid && (marks.dirty || marks.touched)">
                                    <mat-error class="text-danger" *ngIf="marks.errors?.['required']">maximum marks is
                                        required</mat-error>
                                    <mat-error class="text-danger" *ngIf="marks.errors?.['pattern']">marks can't be a
                                        character</mat-error>
                                </div>
                            </mat-form-field>
                        </div>
                    </div>

                    <mat-form-field appearance="fill" class="field">
                        <mat-label>Quiz Category</mat-label>
                        <mat-select required [(ngModel)]="quizModel.category.cid" name="category" #category="ngModel">
                          <mat-option value="">--</mat-option>
                          <mat-option *ngFor="let c of categories" [value]="c.cid">
                            {{c.name}}
                          </mat-option>
                        </mat-select>
                        <mat-error class="text-danger" *ngIf="category.invalid ||  category.touched">category is
                        required</mat-error>
                      </mat-form-field>

                      <section class="example-section">
                        <mat-checkbox name="status" #status="ngModel" [(ngModel)]="quizModel.active" class="example-margin">Active</mat-checkbox>
                      </section>



                    <div class="container text-center">
                        <button class="text-center mx-2" mat-raised-button color="accent"
                            type="submit">Update Quiz</button>
                            <a class="text-center" mat-raised-button color="warn"
                            type="submit" routerLink="/admin/quizes" >Back</a>
                    </div>
                </form>
            </mat-card>

        </div>


    </div>
</div>
