<ngx-ui-loader fgsColor="yellowgreen" pbColor="yellowgreen" textColor="yellowgreen" text="please wait"></ngx-ui-loader>

<div ngxUiLoaderBlurred (blur)="7">
  <mat-toolbar class="mat-elevation-z8 ">
    <button mat-icon-button *ngIf="sidenav.mode === 'over'" (click)="sidenav.toggle()">
      <mat-icon *ngIf="!sidenav.opened">
        menu
      </mat-icon>
      <mat-icon *ngIf="sidenav.opened">
        close
      </mat-icon>
    </button>
    <mat-icon class="adju" *ngIf="sidenav.mode ==='side'">quiz</mat-icon>
    Quiz App
    <span class="example-spacer"></span>
  
    <a mat-button [routerLinkActiveOptions]="{exact:true}" routerLinkActive="active" routerLink=""
      *ngIf="sidenav.mode=='side' && !isLoggedIn">
      <mat-icon class="adju">home</mat-icon>Home
    </a>
  
    <a mat-button routerLinkActive="active" routerLink="signup" *ngIf="!isLoggedIn && sidenav.mode=='side'">
      <mat-icon class="adju">person_add</mat-icon>Signup
    </a>
    <a mat-button routerLinkActive="active" routerLink="login" *ngIf="!isLoggedIn && sidenav.mode=='side'">
      <mat-icon class="adju">login</mat-icon>Login
    </a>
    <button mat-button *ngIf="isLoggedIn && sidenav.mode=='side' ">
      <img class="profile-image-toolbar" width="30px" height="30px"
        [src]="user.profileUrl ?? 'https://img.freepik.com/free-psd/3d-illustration-person-with-sunglasses_23-2149436188.jpg?w=740&t=st=1661941516~exp=1661942116~hmac=28e22fe4bf7a7a9b34b3a06a8750cefdc026a0317dcf0017e675a8dce357d87a'"
        alt="">{{user.name.fname}}
      <mat-icon [mat-menu-trigger-for]="userMenu">keyboard_arrow_down</mat-icon>
    </button>
    <mat-menu #userMenu="matMenu">
      <button mat-button class="menu-button" *ngIf="isLoggedIn" data-bs-toggle="modal"
        routerLink="profile">
        <img class="profile-image-toolbar" width="25px" height="25px"
          [src]="user.profileUrl ?? 'https://img.freepik.com/free-psd/3d-illustration-person-with-sunglasses_23-2149436188.jpg?w=740&t=st=1661941516~exp=1661942116~hmac=28e22fe4bf7a7a9b34b3a06a8750cefdc026a0317dcf0017e675a8dce357d87a'"
          alt="">
          <span style="font-size:14px;">Profile</span>
      </button>
  
      <button mat-button (click)="logoutUser()" *ngIf="isLoggedIn">
        <mat-icon class="adju">logout</mat-icon>Logout
      </button>
  
    </mat-menu>
  
  </mat-toolbar>
  <mat-sidenav-container>
  
    <mat-sidenav #sidenav="matSidenav" [opened]="isLoggedIn" class="mat-elevation-z8">
  
      <mat-divider></mat-divider>
      <button mat-button class="menu-button" *ngIf="!isLoggedIn" routerLinkActive="active" routerLink="">
        <mat-icon>home</mat-icon>
        <span>Home</span>
      </button>
      <button mat-button class="menu-button" *ngIf="isLoggedIn && Role=='TEACHER'" [routerLinkActiveOptions]="{exact:true}"
        routerLinkActive="active" routerLink="teacher">
        <mat-icon>dashboard</mat-icon>
        <span>Dashboard</span>
      </button>
      <button mat-button class="menu-button" *ngIf="isLoggedIn && Role=='ADMIN'" [routerLinkActiveOptions]="{exact:true}"
        routerLinkActive="active" routerLink="admin">
        <mat-icon>dashboard</mat-icon>
        <span>Dashboard</span>
      </button>
      <button mat-button class="menu-button" *ngIf="isLoggedIn && Role=='STUDENT'"
        [routerLinkActiveOptions]="{exact:true}" routerLinkActive="active" routerLink="student-dashbored">
        <mat-icon>dashboard</mat-icon>
        <span>Dashboard</span>
      </button>
      <button mat-button class="menu-button" *ngIf="!isLoggedIn && Role=='ADMIN'" routerLinkActive="active"
        routerLink="login">
        <mat-icon>login</mat-icon>
        <span>Login</span>
      </button>
      <button mat-button class="menu-button" *ngIf="!isLoggedIn" routerLinkActive="active" routerLink="signup">
        <mat-icon>person_add</mat-icon>
        <span>Signup</span>
      </button>
  
      <button mat-button class="menu-button" *ngIf="isLoggedIn && Role=='ADMIN'" routerLinkActive="active"
        routerLink="teacher/categories">
        <mat-icon>list</mat-icon>
        <span>Categories</span>
      </button>
      <button mat-button class="menu-button" *ngIf="isLoggedIn && Role=='ADMIN'" routerLinkActive="active"
        routerLink="teacher/add-category">
        <mat-icon>add_circle_outline</mat-icon>
        <span>Add Category</span>
      </button>
      <button mat-button class="menu-button" *ngIf="isLoggedIn && Role=='ADMIN'" routerLinkActive="active"
        routerLink="teacher/quizes">
        <mat-icon>quiz</mat-icon>
        <span>Quizes</span>
      </button>
      <button mat-button class="menu-button" *ngIf="isLoggedIn && Role=='ADMIN'" routerLinkActive="active"
        routerLink="teacher/add-quiz">
        <mat-icon>add</mat-icon>
        <span>Add Quiz</span>
      </button>
      <button mat-button class="menu-button" *ngIf="sidenav.mode=='over'">
        <mat-icon>info</mat-icon>
        <span>About</span>
      </button>
      <button mat-button class="menu-button" *ngIf="isLoggedIn && sidenav.mode=='over'" (click)="logoutUser()">
        <mat-icon>logout</mat-icon>
        <span>LogOut</span>
      </button>
      <!-- student routes -->
      <div>
  
        <div *ngIf="quizStart">
          <p style="color:red;"><b>{{formateTime()}}</b></p>
          <mat-spinner mode="determinate" [value]="(givenSeconds/totalTime)*100" class="custom-spinner"></mat-spinner>
          <h4>Progress</h4>
          <p style="color:yellow;">Quiz will automatically submitted when timer reaches 00:00:00</p>
        </div>
        <button mat-button class="menu-button" *ngIf="isLoggedIn && Role=='STUDENT' && !quizStart"
          routerLinkActive="active" routerLink="/student-dashbored/0">
          <mat-icon>list</mat-icon>
          <span>All Quizes</span>
        </button>
  
        <div *ngFor="let c of category">
          <button mat-button class="menu-button" *ngIf="isLoggedIn && Role=='STUDENT' && !quizStart"
            routerLinkActive="active" routerLink="/student-dashbored/{{c.cid}}">
            <mat-icon>quiz</mat-icon>
            <span>{{c.name}}</span>
          </button>
        </div>
      </div>
  
      <mat-divider></mat-divider>
  
      <button mat-button class="menu-button" *ngIf="!quizStart">
        <mat-icon>help</mat-icon>
        <span>Help</span>
      </button>
  
    </mat-sidenav>
    <mat-sidenav-content>
      <div class="content mat-elevation-z8" [style]="sidenav.opened?'height: calc(100vh - 98px)':'height:100%;'">
        <router-outlet></router-outlet>
      </div>
    </mat-sidenav-content>
  </mat-sidenav-container>
</div>